//響應式圖片
.zoomimage{
    @include zoomimage;
}
//top_nav
//logo
.logo_size_md{
    width: 219.49px;
    height: 40px;
}
.logo_size_sm{
    width: 171.22px;
    height: 26.6px;
}
//header_Section
.top_section{
    background-image: url(https://bit.ly/2OhbMHr);
    width: 100%;
    height: 277px;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    @include md{
        width: 100%;
        height: 496px;
    }
    @include lg{
        width: 100%;
        height: 496px;
    }
    @include xl{
        width: 100%;
        height: 496px;
    }

}
//header_card
header{
    .top-lg-90{
        @include md{
            top: 90%;
        }
    }
    .card{
        height: 180px;
        @include lg{
            height: 256px;
        }
    }
    .card_1{
        background-image: url(https://bit.ly/2R5tqwD);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        filter: blur(1px);
    }
    .card_2{
        background-image: url(https://bit.ly/2Dwoxd7);
        background-size: cover;
        width: 100%;
        height: 100%;
        filter: blur(1px);
    }
    .card_3{
        background-image: url(https://bit.ly/2OUteif);
        background-size: cover;
        width: 100%;
        height: 100%;
        filter: blur(1px);
    }
    .card_text{
        writing-mode: vertical-lr;
        letter-spacing: 15px;
        padding-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background-color: $primary;
        color: #fff;
        opacity: 0.9;
        &:hover{
            background-color: $warning;
            color: $primary;
        }
    }
}
//main_section
main{
    .main-section{
        margin-top: 220px;
        margin-bottom: 30px;
        @include md{
            margin-top: 180px;
            margin-bottom: 30px;
        }
        @media (min-width: 1024px){
            margin-top: 240px;
            margin-bottom: 30px;
        }
        @include xl{
        margin-top: 300px; 
        margin-bottom: 105px;
        }
    }
    .main_title{
        width: 196px;
        margin-bottom: 30px;
        @include md{
            width: 300px;
        }
    }
    .main_img{
        height: 250px;
        @include md{
            height: 460px;
        }
        @include lg{
            height: 460px;
        }
    }
    .main_text{
        font-size: 16px;
        line-height: 32px;
        padding: 30px;
        background-color: $secondary;
        @include lg{
            writing-mode: vertical-rl;
            margin: 70px 0px;
            height: 280px;
            right: 20%;
            background-color: transparent;
        }
    }
    .main_img_1{
        background-image: url(https://bit.ly/2xPn7Eq);
    }
    .main_img_2{
        background-image: url(https://bit.ly/2zzAQS4);
    }
}
//product_list
.product_img::before{
    content: "本日精選";
    background-color: $primary;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    writing-mode: vertical-lr;
    position: absolute;
    left: 20px;
}
.product_img_1{
    background-image: url(https://bit.ly/2zBjQuq);
    height: 315px;
}
.product_img_2{
    background-image: url(https://bit.ly/2zBDAxX);
    height: 315px;
}
.product_img_3{
    background-image: url(https://bit.ly/2QbVsVR);
    height: 315px;
}
//footer
.fa-envelope{
    padding: 16px 20px;
}
.form_input_email{
    height: 56px;
}
.footer_form_btn{
    height: 56px;
}
.footer_container{
    padding-top: 34px;
    @include md{
        padding-top: 0px;
    }
}