//圖片取代文字 hide-text
@mixin hide-text{
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

//zoomimage
@mixin zoomimage{
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

