//圖片取代文字 hide-text
@mixin hide-text{
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
//RWD
@mixin sm{
    @media (max-width:576px) {
        @content        
    };
};
@mixin md{
    @media (max-width:768px) {
        @content        
    };
};
@mixin lg{
    @media (max-width:992px) {
        @content        
    };
};