img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.text-center{
    text-align: center;
}
p{
    padding: 0px;
    margin: 0px;
}
//mix

@mixin sm{
    @media (min-width:576px) {
        @content        
    };
};
@mixin md{
    @media (min-width:768px) {
        @content        
    };
};
@mixin lg{
    @media (min-width:992px) {
        @content        
    };
};
@mixin xl{
    @media (min-width:1140px) {
        @content        
    };
};
@mixin xxl{
    @media (min-width:1320px) {
        @content        
    };
};