//color
$primary: #3F5D45;
$secondary: #EAF0ED;
$warning: #FFE180;

//class
//color
.bg-primary{
    background-color: $primary;
}

.bg-secondary{
    background-color: $secondary;
}

//position
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
//flex
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: start;
}
.align-self-center{
    align-self: center;
}