<!---top_nav-->
<nav class="navbar navbar-expand-md navbar-light bg-white py-3">
    <div class="container">
        <!---phone_toogle_btn-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--logo-->   
        <a class="navbar-brand" href="/index.html">
            <!--md-logo-->
            <img src="img/logo-all-dark.svg" alt="sweetaste 甜點專賣店" class="d-none d-md-flex logo_size_md">
            <!--sm-logo-->
            <img src="img/logotype-lg-dark.svg" alt="sweetaste 甜點專賣店" class="d-flex d-md-none logo_size_sm">
        </a>
        <!---phone_purchase_btn-->
        <a href="/pages/cart.html" class="d-block d-md-none">
            <span><i class="fas fa-shopping-cart"></i></span>
        </a>
        <!---nav_list-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-4 mt-lg-0">
            <li class="nav-item">
            <a class="nav-link px-4 fw-bold" aria-current="page" href="/pages/index.html">首頁</a>
            </li>
            <li class="nav-item">
            <a class="nav-link px-4 fw-bold" href="/pages/product.html">甜點</a>
            </li>
            <li class="nav-item">
            <a class="nav-link px-4 fw-bold" href="/pages/login.html">登入</a>
            </li>
        </ul>
        <!---pc_purchase_btn-->
        <a href="/pages/cart.html" class="d-none d-md-block ">
            <span><i class="fas fa-shopping-cart px-2"></i></span>
        </a>
        </div>
    </div>
    </nav>